<div class="center jumbotron">
  <h1>Welcome</h1>

  <h2>
    We are in
    <a href="https://en.wikipedia.org/wiki/Hyderabad">Hyderabad</a>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("google-logo.png", alt: "Google logo"),
            'http://google.com/' %>