<footer class="footer">
 <div class="container">
  <small>
    <a href="https://github.com/vinsy/quacker">Source Code</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</div>
</footer>